.yaps-dropdown {
  width: 100%;
  margin-top: 18px;

  &__open-btn {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #19a24b;

    svg {
      transform: rotate(-90deg);
      position: relative;
      left: -4px;
    }

    &.active {
      svg {
        transform: rotate(90deg);
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;

    &.active {
      height: auto;
    }
  }

  &__item {
    margin-top: 22px;

    &-title {
      font-family: Roboto, Roboto-Medium;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 14px;
      line-height: 19px;
      display: block;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__item-chips {
    display: flex;
    flex-wrap: wrap;
  }

  &__chip {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    background: rgba(204, 204, 204, 0.13);
    border-radius: 16px;
    padding: 0px 20px;
    margin-right: 8px;
    margin-bottom: 8px;
    color: #454545;
    font-size: 11px;
    transition: all 0.3s;
    font-family: Roboto, Roboto-Regular !important;
    font-weight: 400 !important;

    &-icon {
      opacity: 0;
      position: absolute;
      right: 8px;
      margin-left: 8px;
    }

    &.active {
      padding-right: 24px;
      padding-left: 16px;
      .yaps-dropdown {
        &__chip {
          &-icon {
            opacity: 1;
          }
        }
      }
    }

    &:hover,
    &.active {
      background: rgba(25, 162, 75, 0.13);
    }
  }
}
