#g-map {
  position: relative;
  width: 100%;
  height: 100%;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0005;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s;
  }

  &.load {
    &::after {
      opacity: 1;
    }
  }
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 2;
}

.yaps {
  &__round-btn {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    svg {
      path {
        transition: all 0.3s;
      }
      &:hover {
        path:first-child {
          fill: #454545;
        }
        path:last-child {
          fill: #f54141;
        }
      }
    }
  }
}
