#g-map {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0005;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s;
  }

  &.load {
    &::after {
      opacity: 1;
    }
  }
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 2;
}

.yaps {
  &__round-btn {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    svg {
      path {
        transition: all 0.3s;
      }
      &:hover {
        path:first-child {
          fill: #454545;
        }
        path:last-child {
          fill: #f54141;
        }
      }
    }
  }

  .yaps-loader-container {
    display: none;
  }

  &__ads {
    height: 50%;
    display: flex;
    margin-top: auto;
    z-index: 1;
    width: 100%;
    overflow: auto;
    padding-left: 8px;
    align-items: baseline;

    .yaps-widget {
      position: relative;
      width: 280px;
      min-height: 314px;
      background-color: #fff;
      margin-right: 9px;
      padding: 0;
      padding-bottom: 12px;

      &:last-child {
        &::after {
          position: absolute;
          right: -8px;
          bottom: 0;
          content: '';
          display: inline-block;
          height: 100px;
          width: 8px;
        }
      }

      &__fields,
      &__footer {
        padding: 0px 12px;
      }

      &__field {
        &:first-child {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  #yaps {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .yaps-loader-container {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
