.yaps-widget {
  padding: 0 16px 16px;
  font-family: Roboto, sans-serif;

  &__slide {
    height: 158px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .slick-slider {
    margin-bottom: 14px;
    height: 158px;
    overflow: hidden;
    border-radius: 4px;
  }
  .slick-dots li button:before {
    display: none;
  }
  .slick-dots {
    bottom: 4px;
    li {
      background-color: #fff;
      opacity: 0.3;
      height: 9px;
      width: 9px;
      border-radius: 50%;

      &.slick-active {
        opacity: 1;
      }
    }
  }
  &__to-fav-btn {
    height: 24px;
    color: #9f9f9f;
    font-size: 12px;
    display: flex;
    align-items: center;

    span {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background: rgba(212, 212, 212, 0.41);
      opacity: 0.6;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 9px;
    }

    &:hover,
    &.active {
      span {
        background: rgba(#ffd319, 0.41);
      }
      path {
        fill: #ffd319;
      }

      color: #ffd319;
    }
  }
  &__field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  &__cell {
    max-width: 220px;
    display: flex;
    align-items: center;
    sup {
      font-size: 10px;
    }
    img {
      margin-right: 8px;
    }
    &-grey {
      color: #9f9f9f;
      font-size: 12px;
    }
  }

  &__show-phone-btn {
    background-color: #19a24b;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all 0.3s;
    border: 1px solid #19a24b;

    &:hover {
      background-color: #fff;
      color: #19a24b;
    }

    &:active {
      background-color: #19a24b;
      color: #fff;
    }
  }

  &__footer {
    margin-top: 17px;
  }
}
