@import '../../config/contstants.scss';

.yaps__indicator-separator {
  display: none;
}
.yaps-filter {
  position: relative;
  font-family: Roboto, sans-serif;
  padding: 16px;
  padding-bottom: 0;
  max-height: 77vh;
  overflow: auto;

  @include scroll;

  input {
    height: 32px;
    border: 1px solid #0002;
    padding: 0px 8px;
    border-radius: 4px;
  }

  &__field {
    height: 58px;
    border-bottom: 1px solid #0001;
    display: flex;
    align-items: center;
    font-size: 15px;
    // background-color: #5681;
    justify-content: space-between;

    button {
      display: inline-block;
    }

    &.btn {
      border: none;
      button {
        margin-top: auto;
        background-color: #19a24b;
        width: 100%;
        height: 40px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        transition: all 0.3s;
        border: 1px solid #19a24b;

        span {
          margin-left: 8px;
        }

        &:hover {
          background-color: #fff;
          color: #19a24b;
          path {
            stroke: #19a24b;
          }
        }

        &:active {
          background-color: #19a24b;
          color: #fff;
        }
      }
    }
  }

  &__filter-title {
  }

  &__field-price {
    // font-family: Roboto-Regular;
    font-size: 12px;
    margin-left: 12px;
    padding-right: 4px;
  }

  &__select {
    .yaps__control,
    .yaps__value-container {
      height: 32px;
    }
    .yaps__value-container {
      align-items: center;
    }
    .yaps__input {
      input {
        height: 100%;
      }
    }
  }

  &__city-select {
    width: 189px;
    height: 32px;
  }

  &__type-select {
    width: 100%;

    .yaps__control {
      border: none;
    }
    .yaps__value-container {
      padding-left: 0;
    }
  }

  &__buttons-set {
    button {
      width: 32px;
      height: 32px;
      border-radius: 4px;
      margin-left: 8px;

      &:hover,
      &.active {
        background-color: #19a24b;
        color: #fff;
      }
    }
  }

  &__inputs {
    input {
      width: 55px;

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:nth-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -2px;
      }
    }
  }

  &__guests-buttons {
    position: relative;
    top: 2px;
    margin-left: 14px;
    button {
      background-color: transparent;
      svg {
        pointer-events: none;
      }
      &:last-child {
        margin-left: 8px;
      }

      &:hover {
        path {
          stroke: #19a24b;
        }
      }
      &:active {
        path {
          stroke: #fff;
          fill: #19a24b;
        }
      }
    }
  }

  &__guests-input {
    width: 56px;
    margin-left: auto;
  }
}

@media (max-width: 540px) {
  .yaps-filter {
    background-color: #fff;
    position: relative;
    z-index: 1;
    height: 100%;
  }
}
