.yaps-placemarck {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  transform: translateX(-50%) translateY(-50%);

  &__number {
    position: relative;
    font-size: 12px;
    z-index: 1;
  }

  &__image {
    position: absolute;
    left: -7px;
    top: -9px;
  }

  &:hover {
    background-color: #9429;
  }
}
