.yaps-sidebar {
  position: absolute;
  top: 20px;
  width: 345px;
  left: -345px;
  background-color: #fff;
  z-index: 1;
  transition: all 0.2s;
  color: #454545;

  &__open-btn {
    position: absolute;
    right: -30px;
    top: 0;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

    img {
      transform: rotate(180deg);
    }

    &:hover {
      // background-color: #19a24b;
    }
  }

  &.open {
    width: 345px;
    left: 20px;

    .yaps-sidebar {
      &__open-btn {
        img {
          transform: rotate(0deg);
        }
      }
    }
  }
}
