* {
  box-sizing: border-box;
}
body {
  background-color: #456;
  margin: 0;
}
button {
  padding: 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

#yaps {
  position: relative;
  width: 100%;
  height: 100%;
}
